<div class="container">
    <form action="" style="width: 80%; margin-top: 20px;">
        <div class="form-group">
            <label>Numero de cuenta bancaria</label>
            <input type="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Clave de cuenta</label>
            <input type="number" class="form-control">

        </div>
        <div class="form-group">
            <label for="">Monto a retirar</label>
            <input type="number" class="form-control">
        </div>


    </form>
</div>