<div class="container">
    <h1>Estado de la cuenta: </h1>
    <div class="card mx-auto" style="width: 60%;">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="">Nombre titular: </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Saldo disponible: </label>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <h3>Transacciones Realizadas</h3>
                </div>
            </div>
            <div class="row">
                <label for="">Id de transaccion</label>
            </div>
            <div class="row">
                <label for="">Tipo de transaccion</label>
            </div>
            <div class="row">
                <label for="">Monto de la transaccion</label>
            </div>
            <div class="row">
                <label for="">Fecha</label>
            </div>
        </div>

    </div>
</div>