<div class="container">

    <div class="card mx-auto" style="width:80%">

        <div class="card-body" style="text-align: center;">
            
            <form action="" [formGroup]="formulario" (ngSubmit)="guardarCliente()">
                <div class="form-group">
                    <div class="row mt-2">
                        <div class="col">
                            <label for="">Nombre</label>
                        </div>
                        <div class="col">
                            <input type="text" name="" id="" placeholder="Nombre" formControlName="nombre">
                        </div>
                        
                    </div>
                    
                </div>

            <div class="form-group">
                <div class="row mt-2">
                    <div class="col">
                        <label for="">Apellidos</label>
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" placeholder="Apellidos" formControlName="apellido">
                    </div>
                   
                </div>

            </div>
            <div class="form-group">
                <div class="row mt-2">
                    <div class="col">
                        <label for="">RFC</label>
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" placeholder="RFC" formControlName="rfc">
                    </div>
                   
                </div>

            </div>
           <div class="form-group">
            <div class="row mt-2">
                <div class="col">
                    <label for="">Telefono</label>
                </div>
                <div class="col">
                    <input type="text" name="" id="" formControlName="telefono">
                </div>
               
            </div>

           </div>
           <div class="form-group">
            <div class="row mt-2">
                <div class="col">
                    <label for="">Correo</label>
                </div>
                <div class="col">
                    <input type="email" name="" id="" formControlName="correo">
                </div>
               
            </div>

           </div>
            <div class="form-group">
            <div class="row mt-2">
                <div class="col">
                    <label for="">Numero de cuenta bancaria</label>
                </div>
                <div class="col">
                    <input type="number" name="" id="" formControlName="id_cuentabancaria">
                </div>
               
            </div>

        </div>
        <div class="form-group">
            <div class="row mt-2">
                <div class="col">
                    <label for="">Codigo de Cliente</label>
                </div>
                <div class="col">
                    <input type="number" name="" id="" formControlName="codigo_cliente">
                </div>
               
            </div>

        </div> 
           
           
            <div class="form-group">
                <div class="row mt-4" style="justify-content: center; width: 30%; margin: auto">
                    <button type="submit">Añadir Cliente</button>
                </div>

            </div>
            

        </form>

        
        </div>


    </div>



</div>