<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Retiro de Efectivo</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary" routerLink="/retiro" routerLinkActive="active">Realizar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Deposito de efectivo</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Realizar</a>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transerencia</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Realizar</a>
            </div>
          </div>
        </div>
      </div>

</div>